[Unit]
Description=waterFlow monitor script
After=network.target
#StartLimitIntervalSec=35
#StartLimitBurst=
[Service]
ExecStart=node /home/pi/src/waterFlow/waterFlow.js
WorkingDirectory=/home/pi/src/waterFlow
Restart=on-failure
RestartSec=60
User=root
StandardOutput=file:/var/log/waterFlow.log
StandardError=file:/var/log/waterFlow.log
[Install]
WantedBy=multi-user.target
