[Unit]
Description=waterFlow monitor script
After=multi-user.target
#StartLimitIntervalSec=35
#StartLimitBurst=
[Service]
ExecStart=node /home/pi/src/waterFlow/waterFlow.js
WorkingDirectory=/home/pi/src/waterFlow
Restart=on-failure
RestartSec=60
User=[Your User]
StandardOutput=append:/var/log/waterFlow.log
StandardError=append:/var/log/waterFlow.log
[Install]
WantedBy=multi-user.target
